body
{
  font-family: 'font', Arial, sans-serif;
  background-color: #141414;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/*@font-face
{
  font-family: 'font';
  src: url('/prehled/font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}*/

.gradient
{
  --size: 300px;
  --speed: 20s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(0, 61%, 42%), hsl(18, 67%, 45%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -1;
  position: fixed;
}

#gradient-container
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-150px, -125px);
}

@keyframes rotate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

.container
{
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

#nadpis
{
  font-family: 'font', Arial, sans-serif;
  color: #d9d9d9;
  font-size: 30px;
  transform: translate(0px, 120px);
}

button
{
  font-family: 'font', Arial, sans-serif;
  display: block;
  justify-content: center;
  margin: 15px auto;
  font-size: 22px;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.3);
  color: #d8d7d6;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  width: 180px;
  height: 80px;
  transform: translate(0px, 150px);
}

button:hover
{
  background-color: rgb(41, 41, 41, 0.4)
}

#backbtn, #nextbtn, #prevbtn
{
  font-family: 'font', Arial, sans-serif;
  background-color: rgb(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  width: 70px;
  height: 35px;
  font-size: 15px;
  position: fixed;
  z-index: 1;
}

#backbtn
{
  color: #d08b8b;
  left: calc(42.5% - 103.5px);
  top: -99.5px;
}

#nextbtn
{
  left: calc(62.3% - 39.5px);
  top: -99.5px;
}

#prevbtn
{
  left: calc(57.8% - 67.5px);
  top: -99.5px;
  width: 90px;
}

#backbtn:hover, #nextbtn:hover, #prevbtn:hover
{
  background-color: #212121;
}

#content
{
  margin-top: 20px;
  text-align: left;
}

#image
{
  max-width: 100vh;
  max-height: 90vh;
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

#logoimage
{
  position: fixed;
  top: -10px;
  left: 10px;
  width: 80px;
  height: 80px;
  opacity: 0.1;
}


@media screen and (max-width: 1300px)
{
  #backbtn
  {
    width: 7%;
    top: -142.5px;
    left: 59%;
    justify-content: center;
    color: #d08b8b;
  }

  #prevbtn
  {
    width: 32%;
    top: -98.5px;
    left: 34%;
    justify-content: center;
  }

  #nextbtn
  {
    width: 32%;
    top: -60px;
    left: 34%;
    justify-content: center;
  }

  #image
  {
    top: 9.5%;
  }
}

@media screen and (max-width: 700px)
{
  #backbtn
  {
    width: 12%;
    top: -142.5px;
    left: 68%;
    justify-content: center;
    color: #d08b8b;
  }

  #prevbtn
  {
    width: 60%;
    top: -98.5px;
    left: 20%;
    justify-content: center;
  }

  #nextbtn
  {
    width: 60%;
    top: -60px;
    left: 20%;
    justify-content: center;
  }

  #image
  {
    top: 9.5%;
  }
}


@media only screen and (max-width: 393px)
{
  #backbtn
  {
    width: 20%;
    top: -143px;
    left: 70%;
    justify-content: center;
    color: #d08b8b;
  }

  #prevbtn
  {
    width: 100%;
    top: -99.5px;
    left: 0%;
    justify-content: center;
  }

  #nextbtn
  {
    width: 100%;
    top: -59.5px;
    left: 0%;
    justify-content: center;
  }

  #image
  {
    top: 9.5%;
  }
}
