body
{
  font-family: Arial, sans-serif;
  background-color: #141414;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient
{
  --size: 300px;
  --speed: 20s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(0, 61%, 42%), hsl(18, 67%, 45%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -1;
  position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate
{
  0%
  {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%
  {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.container
{
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

#nadpis
{
  color: transparent; /* Zamezuje problikávání černého textu uprostřed stránky, kvůli příkazům v JS */
 /* příkazy jsou vloženy v JS ve funkci function setInitialNadpisPosition() */
}

button
{
  font-family: Arial, sans-serif;
  display: block;
  margin: 15px auto;
  font-size: 22px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: #d8d7d6;
  border: none;
  border-radius: 8px;
  transition: background-color 0.5s ease;
  width: 180px;
  height: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button:hover
{
  background-color: rgba(0, 0, 0, 0.5);
}

#htmlbtn
{
  top: calc(50% - 100px);
}

#cssbtn
{
  top: calc(50%);
}

#jsbtn
{
  top: calc(50% + 100px);
}

#backbtn, #nextbtn, #prevbtn
{
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  width: 70px;
  height: 35px;
  font-size: 15px;
  position: fixed;
  z-index: 1;
}

#backbtn
{
  color: #d08b8b;
  left: 38%;
  transform: translateX(-50%);
  top: 49px;
}

#nextbtn
{
  left: 62%;
  transform: translateX(-50%);
  top: 49px;
}

#prevbtn
{
  left: 56.5%;
  transform: translateX(-50%);
  top: 49px;
  width: 80px;
}

#backbtn:hover, #nextbtn:hover, #prevbtn:hover
{
  background-color: #212121;
}

#content
{
  margin-top: 20px;
  text-align: left;
}

#image
{
  max-width: 100vh;
  max-height: 90vh;
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

#logoimage
{
  position: fixed;
  top: -10px;
  left: 10px;
  width: 80px;
  height: 80px;
  opacity: 0.1;
}

@media screen and (max-width: 1300px)
{
  #backbtn
  {
    width: 7%;
    top: 15px;
    height: 35px;
    left: 62.5%;
  }

  #prevbtn
  {
    width: 32%;
    top: 55px;
    left: 50%;
  }

  #nextbtn
  {
    width: 32%;
    top: 95px;
    left: 50%;
  }

  #image
  {
    top: 9.5%;
  }
}

@media screen and (max-width: 700px)
{
  #backbtn
  {
    width: 12%;
    top: 15px;
    height: 35px;
    left: 74%;
  }

  #prevbtn
  {
    width: 60%;
    top: 55px;
  }

  #nextbtn
  {
    width: 60%;
    top: 95px;
  }

  #image
  {
    top: 9.5%;
  }
}

@media only screen and (max-width: 393px)
{
  #backbtn
  {
    width: 20%;
    top: 15px;
    height: 35px;
    left: 90%;
  }

  #prevbtn
  {
    width: 100%;
    top: 55px;
  }

  #nextbtn
  {
    width: 100%;
    top: 95px;
  }

  #image
  {
    top: 9.5%;
  }
}
